<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true" bootstrap="./tests/autoload.php.dist">
	<testsuites>
		<testsuite name="moss core">
			<directory>./tests/moss/config/</directory>
			<directory>./tests/moss/container/</directory>
			<directory>./tests/moss/dispatcher/</directory>
			<directory>./tests/moss/http/bag/</directory>
			<directory>./tests/moss/http/request/</directory>
			<directory>./tests/moss/http/response/</directory>
			<directory>./tests/moss/http/cookie/</directory>
			<directory>./tests/moss/http/session/</directory>
			<directory>./tests/moss/logger/</directory>
			<directory>./tests/moss/loader/</directory>
			<directory>./tests/oss/router/</directory>
			<directory>./tests/moss/security/</directory>
			<directory>./tests/moss/view/</directory>
		</testsuite>
	</testsuites>
</phpunit>