<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true" bootstrap="./tests/autoload.php.dist">
	<testsuites>
		<testsuite name="Moss core">
			<directory>./tests/Moss/config/</directory>
			<directory>./tests/Moss/container/</directory>
			<directory>./tests/Moss/dispatcher/</directory>
			<directory>./tests/Moss/http/bag/</directory>
			<directory>./tests/Moss/http/request/</directory>
			<directory>./tests/Moss/http/response/</directory>
			<directory>./tests/Moss/http/cookie/</directory>
			<directory>./tests/Moss/http/session/</directory>
			<directory>./tests/Moss/logger/</directory>
			<directory>./tests/Moss/loader/</directory>
			<directory>./tests/Moss/router/</directory>
			<directory>./tests/Moss/security/</directory>
			<directory>./tests/Moss/view/</directory>
		</testsuite>
	</testsuites>
</phpunit>