<?php
error_reporting(-1);

require_once __DIR__ . '/../Moss/loader/Loader.php';
$loader = new \Moss\loader\Loader();
$loader->addNamespace(null, __DIR__ . '/../');

$composerAutoloadPath = __DIR__ . '/../vendor/composer/autoload_namespaces.php';
if (is_file($composerAutoloadPath)) {
    $loader->addNamespaces((array) require $composerAutoloadPath);
}
unset($composerAutoloadPath);

$loader->register();