<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="true"
         backupStaticAttributes="true"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         bootstrap="autoload.php.dist"
		>
	<php>
		<ini name="intl.default_locale" value="en"/>
	</php>

	<testsuites>
		<testsuite name="moss core">
			<directory>./moss/config/</directory>
			<directory>./moss/container/</directory>
			<directory>./moss/dispatcher/</directory>
			<directory>./moss/http/request/</directory>
			<directory>./moss/http/response/</directory>
			<!--<directory>./moss/http/cookie/</directory>-->
			<!--<directory>./moss/http/session/</directory>-->
			<directory>./moss/logger/</directory>
			<directory>./moss/router/</directory>
			<directory>./moss/security/</directory>
			<directory>./moss/view/</directory>
		</testsuite>
	</testsuites>
</phpunit>