{% extends 'Moss:sample:index' %}

{% block body %}
    <p>Controller source is protected with credentials (just type <var>login</var> / <var>password</var>)</p>

    {% for message in flash %}
        <p class="{{ message.type }}">{{ message.message }}</p>
    {% endfor %}

    <form action="{{ url('login') }}" method="post">
        <input type="text" name="login" placeholder="login"/>
        <input type="text" name="password" placeholder="password"/>
        <button type="submit">Submit</button>
    </form>
{% endblock %}